body{
    /*font-family:  Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    Amount of space between each line*/

    font: 15px/1.5 'Montserrat', sans-serif; /*Same as the lines above*/
    color: white;
    padding: 0; /*Pushes content to the side*/
    margin: 0;
    background-color: #00acff;
}


/* Global */

#c{
    margin:auto;
}
.conatiner{
    
    width: 100%;
    margin: auto; /*Movies content to middle*/
    overflow: hidden;/*If something goes outside of a div, it becomes hidden instead of a scrollbar*/
}
.conatinerTwo{
    
    width: 100%;
    margin: auto; /*Movies content to middle*/
    margin-left: 20px;
    overflow: hidden;/*If something goes outside of a div, it becomes hidden instead of a scrollbar*/
}
header ul{ /* Unordered list in header*/
    margin: 0;
    padding: 0;
}



.textanimate{
    width: 100%;
    height: auto;
}

.dark{
    padding: 15px;
    padding-left: 3%;
    background: #183acf;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header{
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px; /*When the screen is smaller, the header adjust*/
    border-bottom: #1d20e8 3px solid; /**/ 
}

header a{ /*All ahref elements in the header*/
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    display: inline; /* List item stays next to each other*/
    padding: 0 20px 0 20px;
}

header #branding h1{
   margin: 0;
    margin-left: 35px;

}

header nav{ 
    float: right; /* Moves navigation to the right side of the page*/

}

header .highlight , header .current a{ /*Highlight the span in the header. Changes color on current page*/
    color: #ffffff;
    font-weight: bold;

}

header a:hover{ /*When hovering over an a element*/
    color: #cccccc;
    font-weight: bold;
}


/* Showcase */

#showcase{
    background: url(../img/about.jpg);
    background-size: 100% 500%;
    min-height: 400px;
    padding-top: 10px;
    text-align: center;
    
}
#showcase img{
    width: 100%;
    height: auto;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    margin-right: 100px;
}

#showcase p{
    font-size: 20px;
}

/* News Letter */

#newsletter{
    margin-top: -20px;
    padding: 15px;
    color: #ffffff;
    background: #e8491d;
}

#newsletter form{
    float:left;

}

#newsletter form{
    float:right;
    margin-top: 15px;

}

#newsletter input[type = "email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */

#boxes{
    margin-top: 20px;
    
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    margin-left: 20px


}

#boxes .box img{
    width: 90px;
    border-radius: 5px;
}

/* Side bar */

aside#sidebar{
    float: left;
    width: 40%;
    
}
aside#sidebar .qoute input, aside#sidebar .qoute textarea{
    width: 90px;
    padding: 5px;
}

/* Main-col */

article#main-col{
    
    float: left;
    padding-left: 1%;
    width: 65%;
    display: block;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

/*Text animation*/
#str{ 
    display: block;
    float: right;
    width: 64%;
    padding: 20px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin: auto;
    margin-left: 300px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.res{
    background-image: url("../img/abouttwo.jpg");
    width: 100%;
    height: 80%;
}
.sthlm{
    background-image: url(../img/ef.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;

}

.skillstxt{
display: block;
text-align: center;
background-color: #183acf;
border-width: 1px;
border-style: solid;
border-color: white;
}
.skillspic{
    display: block;
}
.project {
    width: 250px;
    height: 250px;
    display: inline-block; /* line up the pictures */
    margin:auto 20%;

}

.project-image {
    width: 170px;
    height: 70%;
    border-radius: 25px;
   
    overflow: hidden; /* This hides the parts that is sticking out*/
    margin-right: 60%;
    /* Hides content that sticks out*/
}
.project-image img { /* Gives the image right aspect-ratio*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.1s ease-in; /* hastighet vid inzoom*/
}
.project-image img:hover { /* hover animation*/
    transform: scale(1.2); /* Zooms in*/
    
    /* Scaling the projects*/
}

.desc {
    padding: 13px;
    margin-right: 80px;
    text-align: center;
}




/* Media Querries*/

@media (max-width:768px){ /*Tablets screen sizes*/
    header #branding,
    header nav,
    header nav li, 
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{ /*Remove the float from header*/
        float: none;
        text-align: center;
        width: 95%;

    }
    header{
        padding-bottom: 20px;
    }
    

    #showcase img{ /* Center Image */
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter button{
        display: block;
        width: 100%;
    }
    #newsletter form input[type = "email"]{
        margin-bottom: 5px;

    }

    #str{ 
        display: block;
        width: 300px;
        padding: 20px;
        height: auto;
        font-family: sans-serif;
        font-size: 20px;
        margin: auto;
        margin-left: 300px;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    #res{

    }

    .dark{
        margin-left: 18px;
    }
    .skillstxt{

    }





}




